---
import Footer from '@components/footer/Footer.astro';
import Header from '@components/header/Header.astro';
import '@style/index.css';

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<meta name="description" content={frontmatter.description} />
		<meta property="og:title" content={frontmatter.title} />
		<meta
			property="og:image"
			content={`https://og.accelr.io/api/og/kasperaamodt-blog/post?title=${frontmatter.title}`}
		/>
		<meta property="og:description" content={frontmatter.description} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Kasper Aamodt's blog" />
		<meta
			property="og:url"
			content={`https://aamodt.xyz${frontmatter.url}`}
		/>
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:url"
			content={`https://aamodt.xyz${frontmatter.url}`}
		/>
		<meta property="twitter:title" content={frontmatter.title} />
		<meta
			property="twitter:description"
			content={frontmatter.description}
		/>
		<meta
			property="twitter:image"
			content={`https://og.accelr.io/api/og/kasperaamodt-blog/post?title=${frontmatter.title}`}
		/>
		<script
			defer
			data-domain="aamodt.xyz"
			src="https://plausible.io/js/script.js"
		></script>
	</head>
	<body>
		<div class="wrapper">
			<Header />
			<div class="content post">
				<span>{frontmatter.date}</span>
				<h1>{frontmatter.title}</h1>
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>
